.dropzoneRoot {
  width: 100%;
  background-color: var(--code-bg);

  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  .dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;

    [data-theme="dark"] & {
      border-color: #444444;
      background-color: #1e1e1e;
      color: #888888;
    }

    p {
      margin: var(--ifm-paragraph-margin-bottom) 0;
    }
  }
}

.output {
  margin-top: 1rem;
}
