name: Code Quality

on:
  push:
  pull_request:

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setting up Node LTS
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"

      - name: Enable Corepack
        run: corepack enable

      - name: Installing dependenciesn
        run: yarn install --frozen-lockfile

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Run Biome
        working-directory: package
        run: biome ci .

      - name: Run Package Lint
        working-directory: package
        run: yarn lint

      - name: Run Package Build
        working-directory: package
        run: yarn build
